{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Cart Page</title>
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <section class="container product-page-container mt-5">
        <h2 class="text-center mb-4">Your Cart</h2>

        <div class="row">
            <div class="col-lg-8">
                <div class="cart-items">
                    {% for item in cart_items %}
                        <div class="cart-item d-flex align-items-center justify-content-between p-3 border-bottom">
                            <img src="{% static 'images/shoe1.jpg' %}" alt="Shoe" class="cart-img">
                            <div class="cart-details">
                                <h5>{{ item.title }}</h5>
                                <p>Size: {{ item.size }} | Color: {{ item.color }}</p>
                                <p class="price">${{ item.price }}</p>
                            </div>
                            <div class="quantity-control">
                                <button class="decrease-btn">−</button>
                                <input type="number" value="{{ item.quantity }}" min="1" class="quantity-input">
                                <button class="increase-btn">+</button>
                            </div>
                            <p class="total-price">Total: KSh {{ total }}</p>
                            <button class="remove-btn">🗑️</button>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Summary -->
            <div class="col-lg-4 mt-5 mb-5 mt-lg-0">
                <div class="cart-summary p-4 border">
                    <h4>Order Summary</h4>
{#                    <p>#}
{#                        Subtotal: <span id="subtotal">#}
{#                    ${{ cart|sum:"price" }}#}
{#                </span>#}
{#                    </p>#}
                    <hr>
                    <strong>Total: KSh {{ total|floatformat:0 }}</strong>
                    {#                    <p>Total: <span id="total-price">${{ cart|sum:"price" }}</span></p>#}
                    <a href="{% url 'view_cart' %}" class="btn btn-primary">
                        Proceed To Checkout
                    </a>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block extra_js %}

{% endblock %}