{% extends 'dashboard_master.html' %}
{% load static %}

{% block title %}
<title>Sale Details</title>
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="container">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sale Details</h6>
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Product:</strong> {{ sale.product.title }}</li>
                <li><strong>Buyer:</strong> {{ sale.buyer }} ({{ sale.email }})</li>
                <li><strong>Contact:</strong> {{ sale.phone }}</li>
                <li><strong>Quantity:</strong> {{ sale.quantity }}</li>
                <li><strong>Total Price:</strong> Ksh {{ sale.total_price }}</li>
                <li><strong>Date:</strong> {{ sale.sale_date|date:"M d, Y H:i" }}</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}